@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter-Bold;
  font-display: swap;
  src: url(../src/assets/fonts/Inter/Inter-Bold.ttf);
}
@font-face {
  font-family: Inter-Regular;
  font-display: swap;
  src: url(../src/assets/fonts/Inter/Inter-Regular.ttf);
}
@font-face {
  font-family: Grotesk-Variable;
  src: url(../src/assets/fonts/Grotesk/Grotesk-Variable.ttf);
  font-display: swap;
  font-weight: 500;
}
